<div class="custom-padding">
    <nav>
        <div class="logoDiv"><img class="logo" src="https://www.shareicon.net/data/512x512/2015/10/14/656213_reload_512x512.png" alt="Reload Logo"></div>
        <ul class="menu-area">
            <li class="nav-item">
                <a [routerLink]="['/home']" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/updates']" class="nav-item">Updates</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/virusscanners']" class="nav-item">Virusscanners</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/blog']" class="nav-item">Blog</a>
            </li>
        </ul>
        </nav>
</div>