<div class="MainContainer">
    <div class="MovingTitle">
        <div class="popout">
            <span>U</span>
            <span>P</span>
            <span>D</span>
            <span>A</span>
            <span>T</span>
            <span>E</span><br>
            <span>S</span>
            <span>Y</span>
            <span>S</span>
            <span>T</span>
            <span>E</span>
            <span>M</span>
        
        </div>
    </div>
    <div class="Blok1">
        <h1>Inleiding</h1>
        <p id="p1">
            Ik durf te zeggen dat meer dan de helft van de mensen die deze paragraaf zullen lezen, 
            een update hebben klaarstaan die ze nog niet hebben geïnstalleerd. Nee hoor, je bent zeker 
            niet de enige die de updates uitstelt omdat ze veel te lang duren om te installeren. Maar
            door juist dat te doen jaag je jezelf misschien in de problemen. Hoe vraag je je af? 
        </p>
        <h1>Waarom?</h1>
        <p id="p2">
            De updates die op je apparaten worden voorzien, zijn er met een reden. Elke keer er een 
            zwakte* in een softwarepakket of besturingssysteem wordt ontdekt dan zal de eigenaar van 
            dit product daar zo snel mogelijk een oplossing (update) voor voorzien. En ja, er zijn ook
            updates die alleen prestatie verbeterend werken en niks te maken hebben met beveiliging maar je 
            wilt toch ook niet dat je systeem trager zal gaan werken?
        </p>
    </div>
<div class="Blok2">
    <h1>Voorbeeld</h1>
    <p id="p3">
        Bekijk het op deze manier, je systeem is zoals je huis. Wanneer je je voordeur laat openstaan 
        dan kunnen er allerhande mensen met slechte bedoelingen binnen komen. Om dit te voorkomen doe
        je je deur op slot. Bij je systeem is dit juist hetzelfde. Wanneer er een fout/lek in je software/systeem
        zit dan proberen de updates (op slot doen) deze te dichten om te voorkomen dat er hackers (mensen die je huis binnen treden)
        door de fout/lek naar binnen in je systeem kunnen om hier allerhande (slechte) dingen te doen.
    </p>
    <p id="p4">
        Hierbij een voorbeeldje van een groot data-lek bij een Amerikaans bedrijf in 2017. Het heeft den naam 
        ‘Equifax Data Breach’ gekregen. Bij deze lek zijn 143 miljoen mensen slachtoffer geworden, waarbij identiteit 
        nummers, geboortedatums en adressen zijn gelekt. De hackers hebben toegang gekregen tot de database door een 
        gekende fout in een webapplicatie (website). Een oplossing (UPDATE!) voor deze fout was al beschikbaar !2 maanden 
        voor dat de data-lek plaatsvond. Maar het bedrijf heeft deze update niet gedaan en is er daarom zelf het slachtoffer 
        van geworden. Dit was een zware les voor het bedrijf, maar eentje waar wij van kunnen leren. Updates zijn zo belangrijk 
        omdat ze vaak belangrijke oplossingen beiden voor beveiliging gebreken. 
    </p>
</div>
<div class="MovingTitle2">
    <div class="popout">
        <span>S</span>
        <span>O</span>
        <span>M</span>
        <span>E</span><br>
        <span>E</span>
        <span>X</span>
        <span>A</span>
        <span>M</span>
        <span>P</span>
        <span>L</span>
        <span>E</span>
        <span>S</span>
    
    </div>
</div>

</div>