<div class="MainContainer">
    <div class="MovingTitle">
        <div class="popout">
            <span>T</span>
            <span>W</span>
            <span>E</span>
            <span>E</span><br>
            <span>V</span>
            <span>E</span>
            <span>R</span>
            <span>S</span>
            <span>I</span>
            <span>E</span>
            <span>'</span>
            <span>S</span>
        
        </div>
    </div>
    <div class="Blok1">
        <h1>Virus</h1>
        <p id="p1">
         Eerst hebben we de groep virussen zelf, deze kunnen alleen ‘overleven’ als ze zich op
         een andere bestand kunnen nestelen. Ze zullen alleen in werking treden als jij dat 
         specifieke bestand in werking laat treden waar de virus op genesteld zit.

        </p>
        <h1>Worms</h1>
        <p id="p2">
            Dan hebben we de ‘Worms’ dit is malware die op zichzelf kan leven. 
            Deze heeft geen ander bestand nodig om in werking te kunnen treden.
        </p>
    </div>
<div class="Blok2">
    <h1>Hoe Op Te Sporen?</h1>
    <p id="p3">
        Elke virusscanner werkt op ongeveer de zelfde wijze, ze hebben allemaal
        een soort dictionary waarin alle gekende soort malware ‘signatures’ staan. 
        Dit zijn bv. Stukken bron code die een bepaalde soort virus met zich mee 
        draagt. Als je scanner programma’s/bestanden scant dan checkt hij of er 
        enige overeenkomsten zijn in die dictionary. Zo ja, dan geeft hij dit aan 
        als een virus en zal deze zo snel mogelijk in quarantaine gezet worden of 
        verwijdert worden.
    </p>
</div>
<div class="MovingTitle2">
    <div class="popout">
        <span>H</span>
        <span>O</span>
        <span>E</span><br>
        <span>O</span>
        <span>P</span>
        <span>S</span>
        <span>P</span>
        <span>O</span>
        <span>R</span>
        <span>E</span>
        <span>N</span>

    
    </div>
</div>
    <div class="MovingTitle3">
        <div class="popout">
            <span>D</span>
            <span>E</span><br>
            <span>O</span>
            <span>P</span>
            <span>S</span>
            <span>P</span>
            <span>O</span>
            <span>R</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>

    
        
        </div>
    </div>
    <div class="Blok3">
    <h1>3 meest bekende opsporingstechnieken</h1>
    <h2>Specifieke detectie</h2>
    <p id="p4">Hierbij zal de software naar bekende malware gaan zoeken aan de hand van een 
        specifieke set kenmerken. Elk stukje malware heeft zijn eigen manier om iets 
        te doen. Om malware specifiek te detecteren, zoekt de scanner naar die handtekening 
        op een vrij specifieke plaats. Deze techniek is relatief snel omdat het schone bestanden 
        snel kan uitsluiten maar het is ook vrij eenvoudig om deze techniek te omzeilen. Wijzig 
        de code, verplaats deze naar ergens anders, codeer hem of verberg hem op een andere manier 
        en dan wordt de dreiging niet meer gedetecteerd.
    </p>
    <h2>Algemene detectie</h2>
    <p id="p5">Hierbij wordt er gezocht naar malware die varianten zijn van bekende families, 
        die vaak worden gemaakt door een gemeenschappelijke groep programmeurs. Hierbij is 
        er soms gemeenschappelijke functionaliteit en soms gemeenschappelijke handtekeningen. 
        Als deze dan kunnen vergelijken met diegene dat ze al gevonden hadden dan kunnen ze zo 
        aan nieuwe stukken code geraken van eventueel nieuwe gebruikte malware technieken.
    </p>
    <h2>Heuristische detectie</h2>
    <p id="p6">Deze detectie scant op onbekende bestanden en zoekt naar verdacht gedrag en verdachte 
        bestandsstructuren. Bij deze wordt scannen breder en speculatiever. Kortom, deze 
        detectie methode past de geurtest toe op bestanden. Is er iets aan de hand dat er 
        link uitziet of zijn de structuren vreemd op een manier die zou impliceren dat het 
        iets probeert te verbergen. Gedraagt het zich op een manier dat normale bestanden niet 
        zouden doen? Deze scanners tellen meestal ook verschillende punten op voor ze bij hun 
        conclusie komen
    </p>
</div>

</div>

